*{margin: 0;padding: 0;}
body,html,.wrap{width: 100%;height: 100%;font-size: .32rem;overflow: hidden}
.wrap{display: flex;flex-direction: column;}
header{padding: 0 10px;width: 100%;height: 1rem;background: #333;display: flex;justify-content: space-between;align-items: center}
.two em{width: 8px;height: 8px;border-radius: 50%;background: #fff;display: block;margin: 2px 0px;}
header a{color: #fff;}
.one span{font-size: 20px;}
section{background: #666;width: 100%;height: 100%;padding: 2rem 10px;}
.box{background: #fff;width: 100%;height: 400px;border-radius: 10px;text-align: center}
.tit{width: 100%;height: 100px;text-align: center}
.tit img{width: 40%;}
.pp{width: 100%;height: 100px;}
.pp img{width: 5%;height: 20px}
.pp input{width: 80%;border:none;border-bottom: 1px solid #ccc}
.last{width: 100%;height: 100%;}
.last button{background: limegreen;color: #fff;text-align: center;width: 80%;height: 40px;border:none;border-radius: 10px;border:1px solid limegreen}